Repository 3nvi/gatsby-intl: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,yml,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx}": [
    "eslint"
  ]
}

fix(gatsby-theme-plugin): remove lock
  packages/gatsby-plugin-intl/package-lock.json
Due: prettier --write

build: add circleci config
  .circleci/config.yml
Due: prettier --write

feat(gatsby-starter-intl): initial commit
  packages/gatsby-starter-intl/.gitignore
  packages/gatsby-starter-intl/.prettierignore
  packages/gatsby-starter-intl/.prettierrc
  packages/gatsby-starter-intl/LICENSE
  packages/gatsby-starter-intl/README.md
  packages/gatsby-starter-intl/gatsby-browser.js
  packages/gatsby-starter-intl/gatsby-config.js
  packages/gatsby-starter-intl/gatsby-node.js
  packages/gatsby-starter-intl/gatsby-ssr.js
  packages/gatsby-starter-intl/i18n.json
  packages/gatsby-starter-intl/package-lock.json
  packages/gatsby-starter-intl/package.json
  packages/gatsby-starter-intl/src/components/header.js
  packages/gatsby-starter-intl/src/components/image.js
  packages/gatsby-starter-intl/src/components/layout.css
  packages/gatsby-starter-intl/src/components/layout.js
  packages/gatsby-starter-intl/src/components/seo.js
  packages/gatsby-starter-intl/src/images/gatsby-astronaut.png
  packages/gatsby-starter-intl/src/images/gatsby-icon.png
  packages/gatsby-starter-intl/src/pages/404.js
  packages/gatsby-starter-intl/src/pages/index.js
  packages/gatsby-starter-intl/src/pages/page-2.js
Due: prettier --write, eslint

docs: update all READMEs
  README.md
  packages/gatsby-plugin-intl/README.md
  packages/gatsby-starter-intl/README.md
  packages/gatsby-theme-intl/README.md
Due: prettier --write

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-starter-intl/CHANGELOG.md
  packages/gatsby-starter-intl/package-lock.json
  packages/gatsby-starter-intl/package.json
  packages/gatsby-theme-intl/CHANGELOG.md
  packages/gatsby-theme-intl/package.json
Due: prettier --write

build: update circleci config
  .circleci/config.yml
Due: prettier --write

build: add orbs in circleci
  .circleci/config.yml
Due: prettier --write

chore: remove top-level audit
  .circleci/config.yml
  package-lock.json
Due: prettier --write

fix: add hoist on bootstrap
  .circleci/config.yml
  package.json
Due: prettier --write

build: add install prior to bootstrap
  .circleci/config.yml
Due: prettier --write

fix(gatsby-theme-intl): broken test
  .circleci/config.yml
Due: prettier --write

fix: description
  jest.config.js
  packages/gatsby-plugin-intl/package.json
Due: prettier --write, eslint

chore: add --yes
  .circleci/config.yml
Due: prettier --write

chore: add git config to circleci
  .circleci/config.yml
Due: prettier --write

fix: typo in description
  packages/gatsby-plugin-intl/package.json
Due: prettier --write

build: add npmrc for npm auth
  .npmrc
Due: none

chore: add NPM API token in .circleci
  .circleci/config.yml
  .npmrc
Due: prettier --write

update starter README
  packages/gatsby-starter-intl/README.md
Due: prettier --write

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/gatsby-starter-intl/CHANGELOG.md
  packages/gatsby-starter-intl/package-lock.json
  packages/gatsby-starter-intl/package.json
Due: prettier --write

build: try npx installation
  packages/gatsby-starter-intl/.bin/setup.js
  packages/gatsby-starter-intl/package.json
Due: prettier --write, eslint

Revert "build: try npx installation"
  packages/gatsby-starter-intl/.bin/setup.js
  packages/gatsby-starter-intl/package.json
Due: prettier --write, eslint

fix: bug with lodash.merge
  packages/gatsby-theme-intl/src/gatsby-ssr.js
Due: prettier --write, eslint

docs: update README
  packages/gatsby-starter-intl/README.md
Due: prettier --write

fix: typo in README
  packages/gatsby-starter-intl/README.md
Due: prettier --write

fix: add exclude pages to starter
  packages/gatsby-starter-intl/gatsby-config.js
Due: prettier --write, eslint

feat: add `deleteOriginalPages` option
  packages/gatsby-plugin-intl/README.md
  packages/gatsby-plugin-intl/src/gatsby-node.js
Due: prettier --write, eslint

feat: add conventional commits version to lerna
  .circleci/config.yml
  lerna.json
  package.json
Due: prettier --write

build: remove --ignore-scripts from lerna bootstrap
  package.json
Due: prettier --write

feat: proper testing
  packages/gatsby-plugin-intl/src/__tests__/gatsby-node.js
Due: prettier --write, eslint
