Repository 3nvi/gatsby-intl: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

limit functionality on plugin
  packages/gatsby-plugin-intl/.eslintrc
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-plugin-intl/src/components/SeoIntl.jsx
  packages/gatsby-plugin-intl/src/constants.js
  packages/gatsby-plugin-intl/src/context/PageContext.jsx
  packages/gatsby-plugin-intl/src/gatsby-browser.js
  packages/gatsby-plugin-intl/src/gatsby-node.js
  packages/gatsby-plugin-intl/src/gatsby-ssr.js
  packages/gatsby-plugin-intl/translations.json
Due: prettier --write, eslint

move dev-related files to project root
  .eslintrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
  packages/gatsby-plugin-intl/.npmignore
  packages/gatsby-plugin-intl/package-lock.json
  packages/gatsby-plugin-intl/package.json
Due: prettier --write

remove package related deps
  package.json
Due: prettier --write

add commitlint
  .commitlintrc.json
  lerna.json
  package-lock.json
  package.json
  packages/gatsby-plugin-intl/package-lock.json
Due: prettier --write

update deps
  package-lock.json
  package.json
Due: prettier --write

build: add commitlint to husky
  .huskyrc
Due: none

chore: add changelog & alter commit style
  .commitlintrc.json
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package-lock.json
  packages/gatsby-plugin-intl/package.json
Due: prettier --write

chore: bump version
  CHANGELOG.md
  lerna.json
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package-lock.json
  packages/gatsby-plugin-intl/package.json
Due: prettier --write

chore: alter release msg
  lerna.json
Due: prettier --write

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package-lock.json
  packages/gatsby-plugin-intl/package.json
Due: prettier --write

fix: update description
  packages/gatsby-plugin-intl/package.json
Due: prettier --write

fix(package.json): add public access
  packages/gatsby-plugin-intl/package.json
Due: prettier --write

chore(release): add publish config
  packages/gatsby-plugin-intl/package.json
Due: prettier --write

chore(gatsby-plugin-intl): add .gitignore too
  packages/gatsby-plugin-intl/.gitignore
Due: none

chore(gatsby-plugin-intl): remove .npmignore
  packages/gatsby-plugin-intl/.npmignore
Due: none

feat(gatsby-plugin-intl): add 404 support
  packages/gatsby-plugin-intl/src/constants.js
  packages/gatsby-plugin-intl/src/gatsby-node.js
Due: prettier --write, eslint

feat(gatsby-plugin-intl): add `notFoundPage` and `excludedPages` option
  packages/gatsby-plugin-intl/src/constants.js
  packages/gatsby-plugin-intl/src/gatsby-node.js
Due: prettier --write, eslint

build(gatsby-plugin-intl): remove .babelrc from .npmignore
  packages/gatsby-plugin-intl/.npmignore
Due: none

feat(gatsby-theme-intl): initial commit
  package-lock.json
  package.json
  packages/gatsby-theme-intl/.babelrc
  packages/gatsby-theme-intl/.gitignore
  packages/gatsby-theme-intl/.npmignore
  packages/gatsby-theme-intl/README.md
  packages/gatsby-theme-intl/i18n.json
  packages/gatsby-theme-intl/package.json
  packages/gatsby-theme-intl/src/components/link.js
  packages/gatsby-theme-intl/src/constants.js
  packages/gatsby-theme-intl/src/gatsby-browser.js
  packages/gatsby-theme-intl/src/gatsby-config.js
  packages/gatsby-theme-intl/src/gatsby-ssr.js
  packages/gatsby-theme-intl/src/index.js
  packages/gatsby-theme-intl/src/page-context.js
Due: prettier --write, eslint

build: update lerna directories
  lerna.json
Due: prettier --write

fix(gatsby-theme-intl): opt for `nextConfig` option
  packages/gatsby-theme-intl/package.json
  packages/gatsby-theme-intl/src/constants.js
  packages/gatsby-theme-intl/src/gatsby-ssr.js
Due: prettier --write, eslint

chore: bump packages & changelogs
  CHANGELOG.md
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package-lock.json
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-theme-intl/CHANGELOG.md
  packages/gatsby-theme-intl/package.json
Due: prettier --write

build: remove package-lock tracking from lerna
  lerna.json
Due: prettier --write

chore: release
  CHANGELOG.md
  lerna.json
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package-lock.json
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-theme-intl/CHANGELOG.md
  packages/gatsby-theme-intl/package.json
Due: prettier --write

chore: remove package locks
  CHANGELOG.md
  lerna.json
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-theme-intl/CHANGELOG.md
  packages/gatsby-theme-intl/package.json
Due: prettier --write

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package-lock.json
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-theme-intl/CHANGELOG.md
  packages/gatsby-theme-intl/package.json
Due: prettier --write

fix(gatsby-plugin-intl): add default localhost port to 8080
  packages/gatsby-plugin-intl/src/constants.js
Due: prettier --write, eslint

fix(gatsby-plugin-intl): don't add SEO-intl Helmet for excluded pages
  packages/gatsby-plugin-intl/src/gatsby-ssr.js
Due: prettier --write, eslint

chore(gatsby-theme-intl): ignore components folder
  packages/gatsby-theme-intl/.gitignore
Due: none

fix(gatsby-plugin-intl): add fallback for optional plugin option
  packages/gatsby-plugin-intl/src/gatsby-ssr.js
Due: prettier --write, eslint

fix: point package main to top level index
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-theme-intl/package.json
Due: prettier --write

fix(gatsby-intl-theme): typo in plugin resolve
  packages/gatsby-theme-intl/src/gatsby-config.js
Due: prettier --write, eslint

feat(gatsby-theme-plugin): reduce the amount of exported modules
  packages/gatsby-theme-intl/src/index.js
Due: prettier --write, eslint

test: add tests for plugin & theme
  .eslintrc
  jest-preprocess.js
  jest.config.js
  loadershim.js
  package-lock.json
  package.json
  packages/gatsby-plugin-intl/src/__tests__/gatsby-browser.js
  packages/gatsby-plugin-intl/src/__tests__/gatsby-node.js
  packages/gatsby-plugin-intl/src/__tests__/gatsby-ssr.js
  packages/gatsby-plugin-intl/src/gatsby-node.js
  packages/gatsby-plugin-intl/src/gatsby-ssr.js
  packages/gatsby-theme-intl/src/__tests__/gatsby-browser.js
  packages/gatsby-theme-intl/src/__tests__/gatsby-ssr.js
  packages/gatsby-theme-intl/src/__tests__/link.js
Due: prettier --write, eslint

chore: add declaration file for gatsby-theme-plugin
  packages/gatsby-theme-intl/.gitignore
  packages/gatsby-theme-intl/package.json
  packages/gatsby-theme-intl/src/index.d.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,json,yml,md}
  eslint: any of: *.{js,jsx}
