Repository 3nvi/gatsby-intl: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix(gatsby-theme-intl): add missing `matchPath` typing
  packages/gatsby-theme-intl/src/index.d.ts
Due: prettier --write

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/gatsby-plugin-intl/CHANGELOG.md
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-starter-intl/CHANGELOG.md
  packages/gatsby-starter-intl/package-lock.json
  packages/gatsby-starter-intl/package.json
  packages/gatsby-theme-intl/CHANGELOG.md
  packages/gatsby-theme-intl/package.json
Due: prettier --write

updatte docs
  packages/gatsby-theme-intl/README.md
Due: prettier --write

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/gatsby-starter-intl/CHANGELOG.md
  packages/gatsby-starter-intl/package-lock.json
  packages/gatsby-starter-intl/package.json
  packages/gatsby-theme-intl/CHANGELOG.md
  packages/gatsby-theme-intl/package.json
Due: prettier --write

fix: change default value of `deleteOriginalPages` for dev
  packages/gatsby-plugin-intl/README.md
  packages/gatsby-plugin-intl/src/constants.js
Due: prettier --write, eslint

build(gatsby-starter-intl): bump gatsby
  packages/gatsby-starter-intl/package-lock.json
  packages/gatsby-starter-intl/package.json
Due: prettier --write

chore: update license to mention Gatsby
  LICENSE
Due: none

fix: don't add original page redirect when original pages exist
  packages/gatsby-plugin-intl/src/__tests__/gatsby-node.js
  packages/gatsby-plugin-intl/src/gatsby-node.js
Due: prettier --write, eslint

fix: change canonical URL when `deleteOriginalPages` is `false`
  packages/gatsby-plugin-intl/src/gatsby-ssr.js
Due: prettier --write, eslint

fix: bumped react-helmet to correct warning
  packages/gatsby-starter-intl/package-lock.json
  packages/gatsby-starter-intl/package.json
  packages/gatsby-theme-intl/package.json
Due: prettier --write

docs: fix typo
  packages/gatsby-plugin-intl/README.md
Due: prettier --write

chore: add dependabot configuration
  .github/dependabot.yml
Due: prettier --write

fix: directory path on dependabot
  .github/dependabot.yml
Due: prettier --write

ci: add github actions
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

test: check actions
  README.md
Due: prettier --write

ci: add audit check
  .github/workflows/validate.yml
Due: prettier --write

ci: remove all circleci checks
  .circleci/config.yml
Due: prettier --write

ci: use GH_PAT
  .github/workflows/publish.yml
Due: prettier --write

docs: add changelog section
  packages/gatsby-plugin-intl/README.md
Due: prettier --write

docs: add Changelog section to README
  packages/gatsby-theme-intl/README.md
Due: prettier --write

test: check required PR checks
  README.md
Due: prettier --write

docs: update wording
  README.md
Due: prettier --write

allow regex on exludedPages
  packages/gatsby-plugin-intl/README.md
  packages/gatsby-plugin-intl/src/gatsby-node.js
Due: prettier --write, eslint

feat: change regexp to glob via minimatch
  package-lock.json
  package.json
  packages/gatsby-plugin-intl/README.md
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-plugin-intl/src/gatsby-node.js
Due: prettier --write, eslint

fix: change import order, move comment, change minimatch to dependency
  package-lock.json
  packages/gatsby-plugin-intl/README.md
  packages/gatsby-plugin-intl/package.json
  packages/gatsby-plugin-intl/src/gatsby-node.js
Due: prettier --write, eslint

fix: update readme
  packages/gatsby-plugin-intl/README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,yml,md}
  eslint: any of: *.{js,jsx}
